<nav class="navbar navbar-expand-lg navbar-dark bg-light-blue static-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <h6>
        <img src="http://placehold.it/75x50?text=Logo" alt="" class="float-left mr-1">
        Sree Bharati<br/>Navanirman Samithi
      </h6>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" [class.active]="currentUrl == '/'" routerLink="">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [class.active]="currentUrl == '/about-us'" routerLink="about-us">About</a>
        <a class="nav-item nav-link" [class.active]="currentUrl == '/contact'" routerLink="contact">Contact</a>
      </div>
    </div>    
  </div>
</nav>