.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.carousel-inner{
    width: 100%;
    height: auto;
    max-height: 480px;
}

.carousel-item{
    width: 100%;
    height: auto;
    max-height: 480px;
}
.carousel-inner img{
    width: 100%;
    height: auto;
}
