/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
//@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.bg-light-blue {
    background-color: #6351ce;
}

.bg-dark-blue {
    background-color: #393668 !important;
}

.bg-rgb-custom {
    background-color: rgb(225, 217, 214);
}

.txt-dark-blue {
    color: #393668;
    font-family: sans-serif;
}

.my-header {
    font-size: 1.4rem;
    vertical-align: middle;
}

.my-logo {
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.my-txt {
    font-size: 1.1rem;
}

@media (min-width: 320px) {
    .my-txt {
        font-size: 1rem;
      }
    .my-header {
        font-size: 1.1rem;
        vertical-align: middle;
    }   
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
      }

      .my-logo {
        display: inline-block;
        width: 2.2em;
        height: 2.2em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }
}


@media (min-width: 576px) {
    .my-txt {
        font-size: 1rem;
      }   
    
    .my-header {
        font-size: 1.1rem;
    }

    .my-logo {
        display: inline-block;
        width: 2.2em;
        height: 2.2em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }
}

@media (min-width: 768px) {
    .my-txt {
        font-size: 1.1rem;
      }
    
    .my-header {
        font-size: 1.4rem;
    }

    .my-logo {
        display: inline-block;
        width: 2.8em;
        height: 2.8em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }
}

  @media (min-width: 992px) {
    .my-txt {
        font-size: 1.1rem;
      }   
}
